.vscode/
assets/icons/FontAwesome.Pro.7.3.1/Desktop/
assets/icons/FontAwesome.Pro.7.3.1/Web/metadata/
assets/icons/FontAwesome.Pro.7.3.1/Web/js/
assets/icons/FontAwesome.Pro.7.3.1/Web/svgs/
assets/icons/FontAwesome.Pro.7.3.1/Desktop/svgs-full/
assets/icons/FontAwesome.Pro.7.3.1/Web/sprites/
assets/icons/FontAwesome.Pro.7.3.1/Web/sprites-full/