*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans';
    height: 5000px;
}

/* start header */
.header{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url('../imgs/image_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.header_box{
    width: 75%;
    margin: 0 auto ;
    padding: 300px 0;
}
.header_box p{

    font-size: 45px;
    font-weight: 300;
}
.header_link1{
    background-color: #1a57a5;
    border:2px solid #1a57a5;
    color: white;
    padding: 15px 25px ;
    border-radius: 1px;
    text-decoration: none;
    margin-right: 5px;
}
.header_link1:hover{
    background-color: #103463;
    border:2px solid #103463;
}
.header_link2{
    
    color: white;
    border: 2px solid whitesmoke;
    padding: 15px 25px ;
    border-radius: 1px;
    text-decoration: none;
}
.header_link2:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.header_links{
    margin-top: 55px;
}

/* end heaader */

/* start services */
.services{
    padding: 100px 0;
}
.services_box{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between ;
}
.service{
    width: 33%;
}
.service_top_icon{
    font-size: 70px;
    color: #1a56a5;
}
.service>h3{
    color: #1a57a5;
    font-size: 26px;
    font-weight: bold;
    padding: 28px 0;
}
.service p{
    color: gray;
    width: 85%;
    line-height: 1.8;
    margin-bottom: 25px;

}
.service a{
    color: #1a57a5;
    text-decoration: none;
    transition-duration: 1s;
}
.service a i{
    margin-left: 5px;
    font-size: 13px;
}
.service a:hover i{
    margin-left: 15px;
    font-size: 13px;
}
/* end services */

/* start features*/
.features{
    background-color: #D6E6F2;
    padding: 100px 0;
}
.features_box{
    width: 90%;
    margin:  0 auto;

}
.sec_top{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    align-items: center;
}
.sec_top_title{
    font-size: 38px;
    font-weight: bold;
    display: block;
    max-width: 51%;
}
.sec_top_line{
    width: 70px;
    height: 3px;
    display: block;
    background-color: #1a57a5;
    margin: 30px 0;
}
.sec_top p{
    color: gray;
    width: 60%;
}
.feature_item{
    display: flex;
   padding: 40px 0;
}
.feature_item_img{
    width: 55%;
}

.feature_item_img img{
    width: 90%;
    box-shadow: 0 20px 45px -10px rgba(0,0,0,0.15);
}

.feature_item_info{
    width: 45%;
    color: gray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 55px;
}

.feature_item_info h4{
    color: #103463;
    font-size: 35px;
    font-weight: bold;
}

.feature_item_info_text{
    width: 60%;
    padding: 30px 0;
    line-height: 1.8;
}

.feature_item_info i{
    color: #103463;
    font-size: 20px;
    padding-right: 10px;
}
.feature_item_info_text2{
    padding: 5px 0;
    width: 50%;
}
/* end features*/

/* start plans  */
.plans{
    padding: 100px 0;
}
.plans_box{
    width: 75%;
    margin: 0 auto;
} 
.plan_items{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.plan_item{

    width: 28%;
    padding: 35px 20px;
    border: 1px solid rgba(210, 209, 209, 0.684);
}
.plan_item_title{
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
    display: block;
}
.plan_item_price{
    color: #1a57a5;
    font-size: 52px;
    font-weight: 300;
    text-align: center;
    display: block;
    margin: 30px 0;
}
.plan_item_text{
    color: gray;
    text-align: center;
    margin-bottom: 35px;
}
.plan_item_info{
    padding: 7px 0;
    color: #73767c;
    width: 80%
}
.plan_item_info i{
    color: #103463;
    font-size: 18px;
    padding-right: 7px;
}
.plan_item a{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 12px 45px;
    margin: 38px 0;
    display: inline-block;
}
.plan_item_link_box{
    display: flex;
    justify-content: center;
}
.plan_item a:hover{
    background-color: rgb(48, 47, 47);
}
.plan_item.active{
    box-shadow: 0 20px 45px -10px rgba(0,0,0,0.15);
}
.plan_item.active a{
    background-color: #2e6daa;
}
.plan_item.active a:hover{
    background-color: #163553;
}
/* end plans  */